{
  "token":"YOURDISCORDTOKEN",
  "prefix":"!", # use something like ! , . ~ ` ?
  "coin": "Pixel",
  "symbol": "PIXL", 
  "tip_amp_emoji": "tip",
  "tip_any_emoji": "tip100",
  "tip_any_amount": 100,
  "price_source": "Altilly", # name to display in price command
  "price_endpoint": "https://api.altilly.com/api/public/symbol/PIXLBTC", # api price source
  "units": 100, # number of decimal places
  "daemon_host": "127.0.0.1",
  "daemon_port": "43110",
  "rpc_password":"turtlecoinonly",
  "rpc_host": "127.0.0.1",
  "rpc_port":"43111"
}

